body {
    font-family: Arial, sans-serif;
    background: linear-gradient(90deg, rgb(216, 116, 255) 0%, rgb(198, 112, 255) 50%, rgb(248, 139, 248) 100%);
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 800px;
    margin: 20px auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
    display: flex;
  }
  
  .card {
    background: linear-gradient(90deg, rgb(240, 167, 255) 0%, rgb(255, 162, 216) 50%, rgb(212, 165, 252) 100%);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    padding: 20px;
    text-align: center;
  }
  
  .card img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
  }
  
  .card h2 {
    margin-bottom: 10px;
  }
  
  .card p {
    margin-bottom: 10px;
  }
  
  .card .price {
    font-weight: bold;
    color: #27ae60;
  }
  #smulf{
    margin-right: 40%;
    color: #b30696;
 }
.sup {
    display: flex;
    align-items: center;
    background-color: #190c31;
    padding: 0;
}
.logo {
    width: 82px;
    height: 78px;
    margin: 0%;
    padding: 0%;
}

nav{
    display: flex;
    flex-grow: 1;

}
nav ul {
    list-style-type: none;
    padding: 0;
}

nav li {
    font-size: 50px;
    display: inline-block;
}

    .sup-master{
        display: flex;
        flex-grow: 1;
        justify-content: end;

    }
    .wr{
        width: 550px;
        border: 5px solid rgb(63, 60, 60);
    }
    .default-btn {
        padding: 15px 20px;
        background: linear-gradient(90deg, rgb(117, 7, 121) 0%, rgb(158, 3, 158) 50%, rgb(194, 14, 194) 100%);
        background-color: auto;
        border-radius: 5px;
        list-style: none;
       font-size: 16px;
       margin-left: 4px;
       margin-right: 5px;
       color: white;
       position: relative;
      
    }
    .sup-master .default-btn:hover {
        background: linear-gradient(90deg, rgb(58, 12, 59) 0%, rgb(90, 13, 90) 50%, rgb(247, 13, 247) 100%);
        color: #fff;
        list-style: none;
    }
    .Rerfe{
      padding: 15px 20px;
        background: linear-gradient(90deg, rgb(52, 255, 79) 0%, rgb(28, 202, 5) 50%, rgb(23, 131, 2) 100%);
        background-color: auto;
        border-radius: 5px;
        list-style: none;
       font-size: 30px;
       margin-left: 4px;
       margin-right: 5px;
       color: white;
       position: relative;
    }
    .Rerfe:hover{
      background: linear-gradient(90deg, rgb(125, 255, 143) 0%, rgb(100, 192, 46) 50%, rgb(52, 231, 111) 100%);
        color: #00ce11;
        list-style: none;
    }
